.container-mision {
  background-color: red;
}
#mision{
  font-family: 'Roboto Condensed', sans-serif;
  text-align:center;
  text-decoration: underline #F2AE22;
}

#mision-txt{
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  padding: 10px 200px 10px 200px;
}

#img-vision{
  display:block;
  margin: auto;
  max-width: 70%;
  height: auto;
}