.title {
  margin: 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.linea {
  background-color: #f2ae22;
  width: 320px;
  height: 2px;
  box-shadow: -1px 9px 55px -3px rgba(242, 174, 34, 0.71);
  -webkit-box-shadow: -1px 9px 55px -3px rgba(242, 174, 34, 0.71);
  -moz-box-shadow: -1px 9px 55px -3px rgba(242, 174, 34, 0.71);
}

.miembros {
  min-height: 800px;
}

.miembros a img {
  height: 100px;
  width: 100px;
  margin: 50px 100px;
  border-radius: 100%;
}

.mesa {
  /*background-color: non-i;*/
}

.card-presi {
  /*border: 1px black solid;*/
  height: auto;
  /*width: 500px;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px;
}

.card-presi img {
  height: 250px;
  border-radius: 50%;
}

.card-miembro {
  /*border: 1px black solid;*/
  height: 250px;
  /*width: 500px;*/
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.card-miembro img {
  height: 100%;

  border-radius: 50%;
  object-fit: cover;
}
.card-miembro-foto-perfil {
  width: 240px;
}

.tamano-imagen {
  height: 86vh;
  /*object-fit: cover;*/
}

.card-miembro-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-miembro-info h4 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
}
.card-miembro-info h5 {
  font-family: "Roboto", sans-serif;
  color: #f2ae22;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 100;
  text-align: center;
}

.card-miembro-info h6 {
  text-indent: -4px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 100;
  text-align: center;
}

.card-miembro-icons {
  height: 20px;
}

.card-miembro-icons a img {
  height: 100%;
  border-radius: 0;
  margin: 1px 15px;
}

.btn-slide {
  background: transparent;
}

.tamano-carousel {
  margin-top: 45px;
  max-height: 700px;
  overflow: hidden;
}

@media (max-width: 425px) {
  .card-miembro img {
    height: 60%;
    border-radius: 50%;
  }
  .card-miembro-info h4 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
  }
  .card-miembro-info h5 {
    font-family: "Roboto", sans-serif;
    color: #f2ae22;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
  }

  .card-miembro-info h6 {
    text-indent: -4px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
  }
  .card-miembro-icons {
    height: 10px;
  }
  .card-miembro-icons a img {
    height: 100%;
    border-radius: 0;
    margin: 1px 5px;
  }

  .card-miembro img {
    height: 150px;

    border-radius: 50%;
    object-fit: cover;
  }

  .card-miembro-foto-perfil {
    width: 120px;
  }

  .tamano-imagen {
    height: 35vh;
  }
}
