@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap");

.titulo-proyecto {
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-weight: 900;
  margin: 30px 0;
}

.titulo-proyecto span {
  border-bottom: 3px solid #f2ae22;
  padding: 5px 20px;
}

.subtitulo {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin: 50px 0;
}
.subtitulo .seleccionado {
  border-bottom: 3px solid #f2ae22;
  cursor: default;
}
.subtitulo .no-seleccionado {
  cursor: pointer;
}
.detalles {
  display: "flex";
  flex-direction: "column";
}
.contenido {
  background-color: #003459;
  font-family: "Roboto", sans-serif;
  height: 100%;
  padding: 10px;
}
.titulo-proyecto {
  font-size: 48px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  margin-top: 40px;
}
.descripcion-proyecto {
  font-size: 32px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.imagen {
  width: 100%;
  height: auto;
}
.imagen-background {
  background-color: #f8fcff;
}
.contenedor {
  margin: auto;
  width: 60%;
  color: white;
}

@media (max-width: 1024px) {
  .titulo-proyecto {
    font-size: 48px;
  }
  .subtitulo {
    font-size: 32px;
  }

  .descripcion-proyecto {
    font-size: 16px;
  }
  .carta {
    height: 200px;
  }
  .contenedor {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .titulo-proyecto {
    font-size: 32px;
  }
  .subtitulo {
    font-size: 24px;
  }

  .descripcion-proyecto {
    font-size: 14px;
  }
  .carta {
    height: 120px;
    margin-bottom: 50px;
  }
}
