.form-postulacion {
  width: auto;
  display: flex;
  justify-content: center;
}

.form-postulacion-card {
  background-color: white;
  width: 800px;
  min-height: 630px;
  border-radius: 25px;
  padding: 50px;
  padding-right: 90px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-postulacion-card-index {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.form-postulacion-card-index p {
  background-color: inherit;
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.card-inputs {
  border: none;
  border-bottom: 0.25px solid #c4c4c456;
  text-decoration: none;
  width: 100%;
  background-color: transparent;
  color: black;
}

.label-card {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-bottom: 0px;
}

.questions {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}
.questions p {
  background-color: transparent;
}
.questions p label {
  background-color: transparent;
  color: #00171f;
}

.questions p label input {
  margin-right: 10px;
}
.form-botones {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.boton-next {
  background-color: #f0ba50;
  border: none;
  border-radius: 50px;
  width: 300px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #00171f;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 15px;
}
.boton-back {
  background-color: #f0ba50;
  border: none;
  border-radius: 50px;
  width: 300px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #00171f;
  margin-top: 25px;
  margin-bottom: 50px;
  padding: 15px;
  margin-right: auto;
}

.postulacion-finalizada {
  text-align: center;
  background-color: transparent;
}
.postulacion-finalizada h2,
h3,
h5 {
  background-color: transparent;
  color: black;
}
@media (max-width: 425px) {
  .form-postulacion-card {
    background-color: white;
    width: 100%;
    height: auto;
    border-radius: 25px;
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .boton-next {
    background-color: #f0ba50;
    border: none;
    border-radius: 50px;
    width: 300px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #00171f;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px;
  }
  .boton-back {
    background-color: #f0ba50;
    border: none;
    border-radius: 50px;
    width: 300px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #00171f;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px;
    margin-right: auto;
  }
}
