@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');

.carta {
  display: flex;
  margin-bottom: 100px;
  min-height: 250px;
}
.imagen-background {
  background-color: #f8fcff;
}
.contenido {
  background-color: #003459;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  padding: 10px;
}
.contenido > p {
  background-color: #003459;
}
.titulo-carta {
  font-size: 25px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}
.descripcion-proyecto {
  text-align: justify;
}
@media (max-width: 1440px) {
  .titulo-carta {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .descripcion-proyecto {
    font-size: 17px;
  }
  .carta {
    height: 120px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1024px) {
  .titulo-carta {
    font-size: 24px;
  }
  .descripcion-proyecto {
    font-size: 17px;
  }
  .carta {
    height: 200px;
  }
}
@media (max-width: 600px) {
  .titulo-carta {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .descripcion-proyecto {
    font-size: 15px;
  }
  .carta {
    height: 400px;
  }
}
