@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;900&display=swap');

.carta {
  display: flex;
  margin-bottom: 100px;
  height: 300px;
}
.imagen-background {
  background-color: #f8fcff;
}
.contenido {
  background-color: #003459;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  padding: 10px;
}
.contenido > p {
  background-color: #003459;
}
.titulo-proyecto {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .titulo-proyecto {
    font-size: 24px;
  }
  .descripcion-proyecto {
    font-size: 16px;
  }
  .card {
    height: 200px;
  }
}
@media (max-width: 768px) {
  .titulo-proyecto {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .descripcion-proyecto {
    font-size: 14px;
  }
  .card {
    height: 120px;
    margin-bottom: 50px;
  }
}
