.testimonio-card {
  display: flex;
  color: black;
  background-color: #fff;
  padding: 40px;
  min-height: 552px;
}

.testimonio-text {
  color: black;
  background-color: #fff;
  text-align: justify;
}

.testimonio-text-container {
  color: black;
  background-color: #fff;
  align-self: center;
}

.testimonio-container {
  width: 70%;
  max-width: 900px;
  max-height: 600px;
  flex-grow: 1;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.testimonio-imagen {
  height: 200px;
  display: block;
  max-width: 400px;
  overflow: hidden;
  background-color: #fff;
  object-fit: contain;
  margin: auto;
}

.MuiGrid-item {
  background-color: #fff;
}

@media (max-width: 596px) {
  .testimonio-imagen {
    height: 150px;
    margin-bottom: 40px;
  }
  .testimonio-text {
    font-size: 10px;
  }
  .testimonio-card {
    display: flex;
    color: black;
    background-color: #fff;
    padding: 40px;
    min-height: 552px;
  }

  .testimonio-container {
    width: 95%;
    max-width: 900px;
    max-height: 500px;
    flex-grow: 1;
    margin: 80px 0;
  }
}
