.testimonio-card {
  display: flex;
  color: black;
  background-color: #fff;
  padding: 40px;
}

.testimonio-text {
  color: black;
  background-color: #fff;
}

.testimonio-text-container {
  color: black;
  background-color: #fff;
}

.testimonio-container {
  width: 70%;
  max-width: 900px;
  flex-grow: 1;
  margin: 80px 0;
}

.testimonio-imagen {
  height: 200px;
  display: block;
  max-width: 400px;
  overflow: hidden;
  background-color: #fff;
  object-fit: contain;
  margin: auto;
}

.MuiGrid-item {
  background-color: #fff;
}

@media (max-width: 596px) {
  .testimonio-imagen {
    height: 150px;
    margin-bottom: 40px;
  }
}
